/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new

 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.navbar-default {
  background-color: #00587D;
  border-color: #00587D;
}

nav.navbar .navbar-header a.navbar-brand {
  color: #ccc
}

nav.navbar .navbar-header a.navbar-brand:hover {
  color: #eee
}

nav.navbar .nav > li > a {
  color: #ccc
}

nav.navbar .nav > li > a:hover {
  color: #eee
}

nav img.nav-user-avatar {
  width: 25px;
  height: 25px;
}

main {
  padding-top: 80px;
  padding-bottom: 120px;
}

a {
  cursor: pointer;
}

footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

span.spacer {
  padding: 0 10px 0 10px;
}

span.spacer-small {
  padding: 0 5px 0 5px;
}

span.spacer-large {
  padding: 0 20px 0 20px;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}
