/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new

 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar-default {
  background-color: #005284;
  border-color: #333;
}

.navbar-fixed-top {
  min-width: 970px;
}

#navbar {
  min-width: 970px;
}

.navbar .navbar-header span.navbar-brand {
  cursor: pointer;
  color: #ccc
}

.navbar .navbar-header span.navbar-brand:hover {
  color: #eee
}

.navbar .nav > li > a {
  color: #ccc
}

.navbar .nav > li > a:hover {
  color: #eee
}

.container {
  min-width: 970px;
  max-width: none !important;
}

main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-header {
  margin: 0 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0077A9;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #222;
}

a:active {
  text-decoration: none;
  cursor: pointer;
  color: #0077A9;
}

footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

span.spacer {
  padding: 0 10px 0 10px;
}

span.spacer-small {
  padding: 0 5px 0 5px;
}

span.spacer-large {
  padding: 0 20px 0 20px;
}

h6.username,
h6.grey-helper-text,
span.username,
span.grey-helper-text {
  font-size: 11px;
  font-weight: normal;
  color: #aaa
}

h6.username-large,
h6.grey-helper-text-large,
span.username-large,
span.grey-helper-text-large {
  font-size: 16px;
}

h5.title,
span.title {
  font-size: 12px;
  font-weight: bolder;
  color: #555;
}

h5.title-large,
span.title-large {
  font-size: 20px;
  font-weight: normal
}

header.title-thin,
span.title-thin {
  font-weight: normal
}

a.username,
a.title {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a.username:hover,
a.title:hover {
  color: #222;
}

a.username:active,
a.title:active {
  color: #0077A9;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}
