/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new

 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

div.discover-index-item {
  text-align: center;
  vertical-align: center;
  height: 280px;

  div.box {
    position: absolute;
    width: 230px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .mousedown {
    -moz-box-shadow: 0 2px 3px 0 #b3b3b3;
    -webkit-box-shadow: 0 2px 3px 0 #b3b3b3;
  }

  img {
    height: 200px;
  }

  div.title {
    text-align: center;
    padding-bottom: 10px;
  }
}

div.discover-index-item:hover {
  div.box{
    border: 2px solid #eee;
    border-radius: 10px;
  }
}
