div.discover-track {
  position: relative;

  span.play-button {
    position: absolute;
    display: table;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 0 0 2px 3px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #000;
    opacity: 0;
    transition: opacity 300ms;
  }

  .glyphicon.play-icon {
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
    color: #bbb;
  }
}

div.discover-track:hover {
  span.play-button {
    cursor: pointer;
    opacity: 1;
  }
}
