.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  -moz-transition: opacity 500ms ease-in;
  -webkit-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  -moz-transition: opacity 300ms ease-in;
  -webkit-transition: opacity 300ms ease-in;
  -o-transition: opacity 300ms ease-in;
  -ms-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
