nav.home-page-nav {
  background-color: none;
}

main.home-page {
  padding-top: 0;
}

section.hero-module {
  position: relative;
  height: 600px;
  min-width: 970px;
  overflow: hidden;
}

section.video-container {
  height: 600px;
  background: black;

  video.hero {
    width: 100%;
  }
}

section.mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background: rgba(0,0,0,0.5);
}

section.hero-message {
  position: relative;
  top: 25%;
  width: 100%;
  min-width: 970px;
  text-align: center;
  letter-spacing: 2px;

  h1.hero {
    color: white;
    font-weight: 700;
    font-size: 60px;
  }

  h3.hero {
    margin-top: 10px;
    color: white;
    font-size: 28px;
    line-height: 1.5em;
  }

  div.hero-button {
    margin-top: 30px;
  }

  a.hero-button {
    padding: 12px 25px;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
    background: rgba(150,150,150,0.5);
  }

  a.hero-button:hover {
    background: rgba(0,0,0,0.5);
  }
}

section.hero-search-container {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  min-width: 970px;
  background: rgba(0,0,0,0.8);
}

section.hero-search-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}
