div.playlist-index {

  span.playlist-index-item {
    border: 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  section.playlist-info {
    margin-bottom: 1em;
  }

  button.track-list-item {
    padding: 8px;
  }

  figure.track-image {
    display: inline-block;
  }

  section.track-index {
    display: inline-block;
    margin: 0 10px;
  }

  section.track-info {
    display: inline-block;
  }
}
