footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

div.player {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;

  div.controller {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #eee;
  }

  span.title {
    font-weight: bolder;
  }

  div.controller-button {
    display: inline-block;
    width: 15px;
  }

  div.controller-button:nth-child(even) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.progress-bar {
   border:1px solid #aaa;
   color:#fff;
   width:295px;
   height:20px;
}

.progress {
   background-color:#ff0000; // red
   height:20px;
   display:inline-block;
}

.audio-progress-container {
	float: left;
	height: 34px;
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
	width: 235px;
}

.audio-progress {
	background: #666666;
	width: 100%;
	height: 100%;
}
