footer {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

div.player {
  width: 400px;
  height: 100%;
  margin: auto;

  div.status {
    padding-top: 10px;
  }

  p.playing {
    font-size: 11px;
    line-height: 50%;
  }

  p.title {
    font-weight: bolder;
  }
}
