div.playlist-modal {
  max-width: 400px;
}

div.playlist-form-track {
  position: relative;
  display: block;

  div.track-thumbnail {
    display: inline-block;
    width: 60px;
  }

  div.track-info {
    display: inline-block;
    vertical-align: middle;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0 10px;
  }
}

div.playlist-list-item {
  text-align: justify;

  div.playlist-thumbnail {
    display: inline-block;
    width: 60px;
  }

  div.playlist-info {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    overflow-x: hidden;
    white-space: nowrap;
    width: 190px;
    padding: 0 10px;
  }

  div.button {
    display: inline-block;
    vertical-align: baseline;
    text-align: right;
  }
}
div.playlist-list-item::after {
    content: '';
    display: inline-block;
    width: 100%;
}
